// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$white-key-color1: white;
$white-key-color2: red;
$form-background: rgba(134, 134, 134, 0.4);
$gray: #232526;
$purple: #32007e;
$light-purple: #812eff;
$half-white: rgba(255,255,255, 0.5);
$pastel-green: #6ac775;